.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--hm-background);
}

.main {
  flex: 1;
  min-height: 100dvh;
  flex-direction: column;
  min-width: 0;
}

.content {
  min-width: 0;
  min-height: 0;
  flex: 1;
  padding: 28px;
}

@media (max-width: 576px) {
  .content {
  min-height: 0;
    padding: 16px;
  }
}
