PORT=3000
MONGO_URI=mongodb://localhost:27017/healmind
NODE_ENV=development

JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Super Admin
NAME=Super Admin
EMAIL_ADMIN=admin@healmind.com
PASSWORD_ADMIN=your_admin_password

# Seed Doctors
EMAIL_DOCTOR1=doctor1@healmind.com
PASSWORD_DOCTOR1=your_doctor1_password
EMAIL_DOCTOR2=doctor2@healmind.com
PASSWORD_DOCTOR2=your_doctor2_password
EMAIL_DOCTOR3=doctor3@healmind.com
PASSWORD_DOCTOR3=your_doctor3_password

# Seed Patients
EMAIL_PATIENT1=patient1@healmind.com
PASSWORD_PATIENT1=your_patient1_password
EMAIL_PATIENT2=patient2@healmind.com
PASSWORD_PATIENT2=your_patient2_password
EMAIL_PATIENT3=patient3@healmind.com
PASSWORD_PATIENT3=your_patient3_password

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_app_password
CLIENT_URL=http://localhost:5173

STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here
